body {
  height: 100%;
  background: #eee;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #ddd;

  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.main_view {
  min-height: 800px;
  margin: 0;
  margin-left: 300px;
}

.page {
  background: #fff;
  border: 1px solid #ccc;
  width: 800px;

  min-height: 900px;

  margin: 50px auto;

  position: relative;

  h1 {
    margin: 15px 0;
    font-size: 2em;
    padding: 5px;
    z-index: 10;
    font-weight: bold;
    position: relative;
  }

  h2 {
    margin: 12px 0;
    font-size: 1.2em;
    padding: 5px;
    z-index: 10;
    font-weight: bold;
    position: relative;
  }

  .text_section {
    margin: 8px 0;
    padding: 5px;
    z-index: 10;
    position: relative;
  }

  canvas {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 1;
  }

  #page_content {
    position: relative;
    margin: 40px;
    width: 720px;
    min-height: 1000px;
  }
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}
