body {
  height: 100%;
  background: #eee;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #ddd;

  box-shadow: 0 0 5px rgba(0,0,0,.5);
  text-align:center;
  padding: 25px 0px 0px;
}

.postAction{
  display:inline-block;
  color:#fff;
  background:#61C2CF;
  background: -webkit-gradient(linear, left top, left bottom, from (#61C2CF), to (#40B5C5));
  background: -moz-linear-gradient(top, #61C2CF, #40B5C5);
  border: 1px #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-weight:bold;
  height: 30px;
  margin-bottom:5px;
  text-decoration:none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  width:122px;
}

.postAction:hover{
  background: #409DB3;
  background: -webkit-gradient(linear, left top, left bottom, from (#409DB3), to (#1889A3));
  background: -moz-linear-gradient(top, #409DB3, #1889A3);
}

.postAction.publish{
  background: #BE4078;
  background: -webkit-gradient(linear, left top, left bottom, from (#BE4078), to (#B1185B));
  background: -moz-linear-gradient(top, #BE4078, #B1185B);
  color:#fff;
  width:250px;
}

.postAction.publish:hover{
  background-color:#8A4064;
  background: -webkit-gradient(linear, left top, left bottom, from (#814064), to (#711843));
  background: -moz-linear-gradient(top, #814064, #711843);
}

.undoRedoDiv{
  padding: 20px 0px 0px;
}

.iconButton{
  display:inline-block;
  color:#fff;
  background-color:#828282;
  border: 1px #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-weight:bold;
  height: 30px;
  margin-bottom:5px;
  text-decoration:none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  width:75px;
}

.addItemDiv{
  padding:20px 0px 0px;
}

.add{
  text-align:left;
  padding: 0px 6px 0px;
  display:inline-block;
  color:#2daebf;
  background-color:#eee;
  border: 1px #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-weight:bold;
  height: 30px;
  margin-bottom:5px;
  margin-top:5px;
  text-decoration:none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  width:250px;
}

.main_view {
  min-height: 800px;
  margin: 0;
  margin-left: 300px;
}

.page {
  background: #fff;
  border: 1px solid #ccc;
  width: 800px;

  min-height: 900px;

  margin: 50px auto;

  position: relative;

  h1 {
    margin: 35px 0;
    font-size: 2em;
    padding: 5px;
    z-index: 10;
    position: relative;
  }

  h2 {
    margin: 35px 0;
    font-size: 1.5em;
    padding: 5px;
    z-index: 10;
    position: relative;
  }

  .text_section {
    margin: 10px 0;
    padding: 5px;
    z-index: 10;
    position: relative;
  }

  canvas {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 1;
  }

  #page_content {
    position: relative;
    margin: 40px;
    width: 720px;
    min-height: 1000px;
  }
}
