.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #ddd;

  box-shadow: 0 0 5px rgba(0,0,0,.5);
  text-align:center;
  padding: 25px 0px 0px;
}

.postAction{
  display:inline-block;
  color:#fff;
  background:#61C2CF;
  background: -webkit-gradient(linear, left top, left bottom, from (#61C2CF), to (#40B5C5));
  background: -moz-linear-gradient(top, #61C2CF, #40B5C5);
  border: 1px #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-weight:bold;
  height: 30px;
  margin-bottom:5px;
  text-decoration:none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  width:122px;
}

.postAction:hover{
  background: #409DB3;
  background: -webkit-gradient(linear, left top, left bottom, from (#409DB3), to (#1889A3));
  background: -moz-linear-gradient(top, #409DB3, #1889A3);
}

.postAction.publish{
  margin-top: 25px;
  background: #BE4078;
  background: -webkit-gradient(linear, left top, left bottom, from (#BE4078), to (#B1185B));
  background: -moz-linear-gradient(top, #BE4078, #B1185B);
  color:#fff;
  width:250px;
}

.postAction.publish:hover{
  background-color:#8A4064;
  background: -webkit-gradient(linear, left top, left bottom, from (#814064), to (#711843));
  background: -moz-linear-gradient(top, #814064, #711843);
}

.addItemDiv{
  padding:20px 0px 0px;
}

.add{
  text-align:left;
  padding: 0px 6px 0px;
  display:inline-block;
  color:#848484;
  background-color:#eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ececec));
  background: -webkit-linear-gradient(top, #f1f1f1, #ececec);
  background: -moz-linear-gradient(top, #f1f1f1, #ececec);
  background: -ms-linear-gradient(top, #f1f1f1, #ececec);
  background: -o-linear-gradient(top, #f1f1f1, #ececec);
  border: 1px #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-weight:bold;
  height: 30px;
  margin-bottom:0px;
  margin-top:10px;
  text-decoration:none;
  width:250px;
}

.add:hover{
  color:#565656;
  background-color:#c5c5c5;
}

.add.drawerOpen{
  border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
}

.add.drawerOpen:hover{
  color:#565656;
  background-color:#c5c5c5;
}

.drawerDiv{
}

.drawerContent{
  background-color:#c9c9c9;
  display:none;
  height:150px;
  width:240px;
  margin: 0px auto;
  padding: 5px;
  box-shadow: inset 0 0 4px 4px #b7b7b7;
  -moz-box-shadow: inset 0 0 4px 4px #b7b7b7;
  -webkit-box-shadow: inset 0 0 4px 4px #b7b7b7;
  border: 1px #000;
  border-bottom-left-radius:5px;
  -moz-border-bottom-left-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  -moz-border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
  overflow:auto;
}

.thumbnailDiv{
  float:left;
  width:100px;
  height:100px;
  margin:5px;
  border-width: -1px;
  border-style: transparent;
}

.thumbnailDiv:hover{
  background-color:#a2a2a2;
}

.thumbnail{
  padding:5px;
}

.dialog{
  outline-width: 0px;
  display:none;
}

.validateTips{
  display:none;
}

.dialogForm{
}

.warn{
  display:none;
  font-size: small;
  color: #ff0000;
}
