.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background: #ddd;

  box-shadow: 0 0 5px rgba(0,0,0,.5);
  text-align:center;
  padding: 25px 0px 0px;
}

.postAction{
  display:inline-block;
  color:#fff;
  background:#61C2CF;
  background: -webkit-gradient(linear, left top, left bottom, from (#61C2CF), to (#40B5C5));
  background: -moz-linear-gradient(top, #61C2CF, #40B5C5);
  border: 1px #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-weight:bold;
  height: 30px;
  margin-bottom:5px;
  text-decoration:none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  width:122px;
}

.postAction:hover{
  background: #409DB3;
  background: -webkit-gradient(linear, left top, left bottom, from (#409DB3), to (#1889A3));
  background: -moz-linear-gradient(top, #409DB3, #1889A3);
}

.postAction.publish{
  background: #BE4078;
  background: -webkit-gradient(linear, left top, left bottom, from (#BE4078), to (#B1185B));
  background: -moz-linear-gradient(top, #BE4078, #B1185B);
  color:#fff;
  width:250px;
}

.postAction.publish:hover{
  background-color:#8A4064;
  background: -webkit-gradient(linear, left top, left bottom, from (#814064), to (#711843));
  background: -moz-linear-gradient(top, #814064, #711843);
}

.undoRedoDiv{
  padding: 20px 0px 0px;
}

.undoRedo{
  display:inline-block;
  color:#fff;
  background-color:#707070;
  background: -webkit-gradient(linear, left top, left bottom, from (#8a8a8a), to (#707070));
  background: -moz-linear-gradient(top, #8a8a8a, #707070);
  border: 1px #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-weight:bold;
  height: 30px;
  margin-bottom:5px;
  text-decoration:none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  width:75px;
}

.undoRedo:hover{
  background-color:#565656;
  background: -webkit-gradient(linear, left top, left bottom, from (#606060), to (#565656));
  background: -moz-linear-gradient(top, #606060, #565656);
}

.addItemDiv{
  padding:20px 0px 0px;
}

.add{
  text-align:left;
  padding: 0px 6px 0px;
  display:inline-block;
  color:#848484;
  background-color:#eee;
  border: 1px #000;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  font-weight:bold;
  height: 30px;
  margin-bottom:5px;
  margin-top:5px;
  text-decoration:none;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  width:250px;
}

.add:hover{
  color:#565656;
}
