 div#floatingbar
    {
    /*overflow: hidden;*/
    width: 100%;
    height: 38px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 300px;
    color: #000;
    font-family:Arial;
    font-weight:bold;
    background: #c9c9c9;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    }
 
#floatingbar ul {
list-style-type:none;
}

#floatingbar ul li
{
float: left; 
color:#666; 
margin-top:5px;
display:block;
margin-left:5px;
}
#floatingbar ul li a
{
display:block;
text-decoration:none;
color:#333; 
font-size:12px;  
font-weight:normal;
font-family:Arial;
}
#floatingbar ul li a:hover 
{ 
color:#000033;
}

.unpressed {
   border: 0px solid #696969;
   background: #f7f7f7;
   background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ececec));
   background: -webkit-linear-gradient(top, #f7f7f7, #ececec);
   background: -moz-linear-gradient(top, #f7f7f7, #ececec);
   background: -ms-linear-gradient(top, #f7f7f7, #ececec);
   background: -o-linear-gradient(top, #f7f7f7, #ececec);
   padding: 3px 6px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #848484;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
   }
.unpressed:hover {
   background-color: #ddd;
   color: #565656;
   }
.pressed:hover {
   border-color: #6a6a6a;
   background: #a2a2a2;
   box-shadow: inset 0 0 4px 4px #7a7a7a;
   -moz-box-shadow: inset 0 0 4px 4px #7a7a7a;
   -webkit-box-shadow: inset 0 0 4px 4px #7a7a7a;
   color: #4e4e4e;
   }
.pressed {
   border: 1px solid #a6a6a6;
   background: #c9c9c9;
   padding: 3px 6px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

   box-shadow: inset 0 0 4px 4px #b7b7b7;
   -moz-box-shadow: inset 0 0 4px 4px #b7b7b7;
   -webkit-box-shadow: inset 0 0 4px 4px #b7b7b7;

   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #6c6c6c;
   font-size: 12px;
   text-decoration: none;
   vertical-align: middle;
   }
  
.squareButton {
   width:28px;
   }

.button {
   height:28px;
   }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
